body {
  color: white;
  background-image: url("fireworks.gif")
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 601px) {
  .answer {
    font-weight: bold;
    font-size: 90px;
  }
  
  .count {
    font-size: 25px;
  }

  .subtitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .answer {
    font-weight: bold;
    font-size: 80px;
  }
  
  .count {
    font-size: 25px;
  }

  .subtitle {
    font-size: 15px;
  }
}

.answer {
  justify-content: center;
}

.count {
  justify-content: center;
}

.subtitle {
  justify-content: center;
}
